.card-v1 {
  background: white;
  padding: 0.4em;
  /* border-radius: 6px; */
  /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); */
}

.card-v1 .card-v1-image {
  background-color: rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 130px;
  border-radius: 6px 6px 0 0;
  transition: all 0.2s ease;
  display: flex;
  justify-content: end;
}

.card-v1 .card-v1-image:hover {
  transform: scale(0.98);
}

.card-v1 .category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.card-v1 .category:hover {
  cursor: pointer;
}

.card-v1 .heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.card-v1 .heading:hover {
  cursor: pointer;
}

.card-v1 .author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 10px;
}

.card-v1 .name {
  font-weight: 600;
}

.card-v1 .name:hover {
  cursor: pointer;
}

/* From Uiverse.io by R1SH4BH81 */
.card-v1-hori {
  display: flex;
  align-items: center;
  background: white;
  padding: 0.4em;
  /* border-radius: 6px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.card-v1-hori .card-image {
  background-color: rgba(0, 0, 0, 0.1);
  min-width: 100px;
  min-height: 100px;
  border-radius: 6px;
  flex-shrink: 0;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-v1-hori .card-image:hover {
  transform: scale(0.98);
  transition: transform 0.3s ease;
}

.card-v1-hori .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.card-v1-hori .category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding-bottom: 5px;
  text-align: left; /* Align text to the left */
}

.card-v1-hori .category:hover {
  cursor: pointer;
}

.card-v1-hori .heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  margin-bottom: 10px;
  text-align: left; /* Align text to the left */
}

.card-v1-hori .heading:hover {
  cursor: pointer;
}

.card-v1-hori .author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  text-align: left; /* Align text to the left */
}

.card-v1-hori .name {
  font-weight: 600;
}

.card-v1-hori .name:hover {
  cursor: pointer;
}
