@charset "utf-8";

/* ===== 메인화면 CSS 파일 ===== */

/* 메인 관련 css */
.dashboard .page_toparea {
  position: relative;
  margin-bottom: 48px;
}
.dashboard .page_title {
  display: inline-block;
  font-size: 6rem; font-weight: 600; line-height: 6.4rem;
  color: var(--black);
}
.dashboard .page_toparea {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 48px;
}
.dashboard .page_toparea .page_title {
  display: inline-block;
  color: var(--black); font-size: 6rem; font-weight: 600; line-height: 6.4rem; font-family: 'Gotham';
}
.dashboard .year_select .select_box {
  border: none;
}
.dashboard .year_select .select_box .vs__actions {
  width: 24px;
  background: url(../../images/common/icon_dash_year_dropdown.png) no-repeat right center;
}
.dashboard .year_select .select_box.v-select {
  height: 44px;
  background: none;
  font-family: 'Gotham'; font-size: 4rem; font-weight: 600;
}
.dashboard .year_select .vs--unsearchable .vs__dropdown-toggle {
  height: 48px;
}
.dashboard .year_select .vs--single .vs__selected {
  font-family: 'Gotham'; font-size: 4rem; font-weight: 600; line-height: 3.6rem;
}

.dashboard .sub_section > div {
  display: inline-block;
}
.dashboard .sub_section .dshb_banner {
  position: relative; z-index: 2;
  height: 721px;
  margin-right: 26px;
  vertical-align: top;
}
.dashboard .sub_section .dshb_banner::before {
 content: '';
 position: absolute; right: 0; bottom: 0;  z-index: -2;
 width: 492px; height: 666px;
 background: #fff;
 border-radius: 32px;
 box-shadow: 0 0 16px rgba(0, 0, 0, 0.06);
}
.dashboard .sub_section .dshb_banner::after {
  content: '';
  position: absolute; left: 0; top: 0; z-index: -2;
  width: 445px; height: 650px;
  background: #fff;
  border-radius: 32px; 
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.06); 
}
.dashboard .sub_section .dshb_banner > div {
  width: 100%; height: 100%; 
  padding: 61px 50px 93px;
  background: url(@/assets/images/main/bg_main_banner.png) no-repeat center;
}
.dashboard .sub_section .dshb_banner .title {
  display: block;
  margin-top: 16px;
  margin-bottom: 33px;
  color: var(--dark1); font-size: 2.6rem;letter-spacing: -0.03em; line-height: 3.6rem;
}
.dashboard .sub_section .dshb_banner .title strong {
  font-weight: 600; 
}
.dashboard .sub_section .dshb_banner .title p {
  display: block;
  font-weight: 400; line-height: 3.6rem;
}
.dashboard .sub_section .dshb_banner  img:last-of-type {
  margin-left: 125px;
  margin-bottom: 20px;
}
.dashboard .sub_section .dshb_banner .course_schedule strong {
  display: block;
  margin-bottom: 24px;
  padding-bottom: 24px;
  font-size: 2rem; font-weight: 600; line-height: 2rem;
  border-bottom: 3px solid var(--dark1);
}
.dashboard .sub_section .dshb_banner .course_schedule p {
  color: var(--dark1); font-size: 1.6rem; font-weight: 500;
}
.dashboard .sub_section .develop_state_wrap {
  width: calc(100% - 584px);
}
.dashboard .sub_section .develop_state {
  width: 100%; height: auto;
  margin-bottom: 24px;
  padding: 32px 38px;
  background: #2C2C3B;
  border-radius: 32px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
}
.develop_state .section_tit_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.develop_state strong {
  display: inline-block;
  color: var(--white);
}
.develop_state .state_division span {
  position: relative;
  display: inline-block; 
  margin-right: 20px;
  color: var(--white); font-size: 1.4rem; font-weight: 200; text-indent: 14px;
} 
.develop_state .state_division span:last-child {
  margin: 0;
}
.develop_state .state_division span::before {
  content: '';
  position: absolute; left: 0; top: 7px;
  width: 8px; height: 8px; 
  background: #FFFFFF;
}
.develop_state .state_division span:first-child::before {
  background: var(--primary);
}
.develop_state .curri_develop_percent {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center; justify-content: space-between;
  margin: 0 56px;
}
.develop_state .curri_develop_percent > div {
  width: 180px;
  flex-grow: 0;
  text-align: center;
}
.develop_state .curri_develop_percent > div:first-child::after {
  content: '';
  position: absolute; right: 50%; top: 0;
  width: 1px; height: 82px;
  background: rgba(255,255,255,0.19);
}
.develop_state .curri_develop_percent > div strong {
  padding-bottom: 10px;
  color: var(--dark3); font-size: 1.6rem; font-weight: 500; text-align: center; line-height: 2.4rem;
}
div .percent {
  color:var(--white);font-family: 'NotoSansKR'; font-size: 1.8rem; font-weight: 600; 
}
div .percent span {
  display: inline-block; 

  margin-right: 3px;
  font-family: 'Gotham'; font-size: 3.6rem; font-weight: 600; line-height: 4.8rem; letter-spacing: -0.03em;
}
.develop_state .curri_develop_percent .progress_bar  {
  position: relative;
  width: 100%; height: 10px; 
  margin-top: 24px;
  padding: 0;
  font-size: 0; text-indent: -9999px;
  background:  var(--white);
  border-radius: 10px;
  overflow: hidden;
}
.develop_state .curri_develop_percent .progress_bar span {
  position: absolute; top: 0; left: 0;
  width: 76%; height: 100%; 
  background: var(--primary);
  border-radius: 10px;
}
.develop_state .curri_develop_percent > p {
  width: 100%;
  margin-top: 6px;
  color: var(--dark3); font-size: 1.6rem; font-weight: 500; text-align: right; line-height: 2.4rem;
}

.hakgua_develop_state {
  width: 100%;
  padding: 32px 38px;
  background: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  border-radius: 32px;
}
.hakgua_develop_state .section_tit_wrap {
  display: flex;
  justify-content: space-between;
}
.hakgua_develop_state .section_tit_sm {
  line-height: 3.8rem;
}
.hakgua_develop_state .dshb_chart_box {
  height: 272px;
  padding: 10px 0;
  border-top: 5px solid var(--dark1);
  border-bottom: 5px solid var(--dark1);
}
.hakgua_develop_state .dshb_chart_box .apexcharts-datalabels * {
  font-family: 'Gotham' !important;
}

.hakgua_develop_state > p {
  margin-top: 16px;
  color: var(--dark3); font-size: 1.4rem; font-weight: 500; text-align: right;
}

.term_curri_develop {
  display: flex;
  gap: 23px;
}
.term_curri_develop .term_01 {
  position: relative;
  width: 50%;
  padding-top: 36px;
}
.term_curri_develop .term_02 {
  position: relative;
  width: 50%;
  padding-top: 36px;
  background: url(../../images/main/bg_section_term2.png) no-repeat right 293px top 11px;
}
.term_curri_develop .term_01 > div,
.term_curri_develop .term_02 > div {
  position: relative;
  padding: 55px 51px 12px;  
  background: var(--white);
  border-radius: 0 32px 32px 32px;
  box-shadow: 0 0 10px rgba(34,34,34, 0.06);
}
.term_curri_develop .term_02 > div {
  border-radius: 32px 0 32px 32px;
}
.term_curri_develop .term_01 strong {
  position: absolute; left: 38px; top: -6px; z-index: 1;
}
.term_curri_develop .term_02 strong {
  position: absolute; right: 38px; top: -6px; z-index: 1;
}
.term_curri_develop .term_01 strong::before {
  content: '';
  position: absolute; top: -30px; left: -38px; z-index: -1;
  width: calc(100% + 102px); height: 80px;
  background: var(--white);
  border-radius: 32px;
} 
.term_curri_develop .term_01 strong::after {
  content: '';
  position: absolute; top: -19px; right: -93px;
  width: 36px; height: 26px;
  background: url(@/assets/images/main/bg_section_term1.png) no-repeat;
}
.term_curri_develop .term_02 strong::before {
  content: '';
  position: absolute; top: -30px; right: -38px; z-index: -1;
  width: calc(100% + 102px); height: 80px;
  background: var(--white);
  border-radius: 32px;
}
.term_curri_develop .term_02 strong::after {
  content: '';
  position: absolute; top: -19px; left: -115px;
  width: 57px; height: 26px;
  background: url(@/assets/images/main/bg_section_term2.png) no-repeat;
}

.term_curri_develop .tbl {
  border: none;
}
.term_curri_develop .tbl_row thead {
  color: var(--dark3); font-size: 1.6rem; font-weight: 500;
  border-bottom: 3px solid var(--dark1);
}
.term_curri_develop .tbl_row thead th {
  padding-top: 0;
  padding-bottom: 20px;
}
.term_curri_develop .tbl.tbl_row .percent {
  color: var(--dark1); font-size: 1.8rem; text-align: center; font-weight: 600;
}
.term_curri_develop .tbl.tbl_row .percent span {
  font-size: 3rem; line-height: 3rem;
}

.term_curri_develop .tbl table tbody th,
.term_curri_develop .tbl table tbody td {
 border-bottom: 1px solid var(--dark1); line-height: 3.6rem;
}
.term_curri_develop .tbl table {
  border: none;
} 
.term_curri_develop .tbl table tbody tr:last-child th,
.term_curri_develop .tbl table tbody tr:last-child td {
  border: none;
}

.link_wrapper {
  position: relative; z-index: 0;
  background: #2B2B2B url(@/assets/images/main/bg_section_link.png) no-repeat;
  background-position: right 170px top 31px;
  border-radius: 32px 24px 32px 32px;
  overflow: hidden;
}
.link_wrapper::before {
  content: '';
  position: absolute; left: 0; top: 0; z-index: -1;
  width: calc(100% - 203px); height: 100%;
  background: #95EE70;
  border-radius: 0 32px 0 0;
}
.link_wrapper strong {
  position: absolute; z-index: 2;
  left: 42px; top: 32px;
  font-size: 2.2rem; line-height: 3rem;
}
.link_wrapper > p {
  position: absolute; right: 0;
  display: inline-block; 
  width: 210px; height: 56px;
  color: var(--white); font-family: 'Gotham'; font-size: 1.8rem; font-weight: 500; text-align: center; line-height: 5.6rem;
}
.link_wrapper .link_wrap {
  position: relative; z-index: 1;
  width: 100%; height: 100%;
  padding: 40px 52px 42px;
  margin-top: 56px;
  background: #95EE70;
  border-radius: 0 32px 0 0;
} 
.link_wrapper .link_wrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; align-items: center;
}
.link_wrapper .link_wrap ul li {
  width: 25%;
}
.link_wrapper .link_wrap ul li a {
  width: 100%; height: 135px;
  padding: 5px 0 7px;
  display: flex; justify-content: space-between; align-items: center;
  flex-direction: column;
  color: var(--dark1); font-size: 1.8rem; font-weight: 500;
  border-right: 1px solid rgba(34,34,34, 0.1);
}
.link_wrapper .link_wrap ul li:last-child a {
  border: none;
}
.board_wrapper  {
  display: flex;
  gap: 24px;
}
.board_wrapper strong {
  font-size: 2.4rem;
}
.board_wrapper .notice_wrap > div,
.board_wrapper .qna_wrap  > div  {
  display: flex;
  justify-content: space-between; align-items: center;
}
.board_wrapper .notice_wrap > div > a,
.board_wrapper .qna_wrap  > div > a {
  font-size: 0; 
  width: 37px; height: 37px;
  background: url(@/assets/images/main/icon_section_link_arrow_black.png) no-repeat;
  background-position: left 11px center;
  border: 1px solid var(--dark1);
  border-radius: 50%;
}
.board_wrapper > div {
  width: 45%;
  flex-grow: 1;
  padding: 50px 50px 32px;
  background: var(--white);
  border-radius: 32px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.06);
}
.board_wrapper > div ul {
  width: 100%;
  margin-top: 23px;
}
.board_wrapper > div ul li {
  display: flex; 
  justify-content: space-between; align-items: center;
  border-bottom: 1px solid var(--dark1);
}
.board_wrapper > div ul li:last-child {
  border: none;
}
.board_wrapper > div ul li a {
  height: 100%;
  padding: 18px 0;
  color: var(--dark1); font-size: 1.6rem; font-weight: 500; line-height: 2.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board_wrapper > div ul li .date {
  width: 20%;
  flex-shrink: 0; flex-grow: 0;
  color: var(--dark3); font-size: 1.4rem; text-align: right;
}


@media screen and (max-width: 1280px) {
  .dashboard .sub_section .develop_state {
    padding: 22px 28px;
  }
  .develop_state .curri_develop_percent {
    justify-content: space-around;
    margin: 10px 10px 0;
  }
  .develop_state .section_tit_wrap {
    display: block;
  }
  .develop_state .section_tit_wrap .state_division {
    margin-top: 5px;
  }
  .develop_state .curri_develop_percent > div {
    width: 140px;
  }
  .hakgua_develop_state {
    padding: 22px 28px;
  }
  .hakgua_develop_state .section_tit_wrap {
    display: block;
  }
  .hakgua_develop_state .section_tit_wrap .select_row.lg {
    margin-left: 0;
  }
  .hakgua_develop_state .dshb_chart_box {
    margin-top: 15px;
  }

  .term_curri_develop .tbl.tbl_row .percent span{
    font-size: 2.4rem; line-height: 2.8rem;
  }

  .link_wrapper .link_wrap {
    padding: 30px 20px 30px;
    margin-top: 56px;
  } 
  .link_wrapper .link_wrap ul {
    gap: 20px 0;
  }
  .link_wrapper .link_wrap ul li a {
    font-size: 1.5rem;
  }
}